<section class="funciona-section">
    <h2>¿Cómo funciona nuestro sistema de biblioteca Riwi?</h2>
  <div class="funciona-container">
    
    <div class="texto">

        <p>
        En Riwi creemos que la <span>colaboración entre coders</span> es uno de nuestros pilares fundamentales. Por eso, para acceder al préstamo de libros físicos o digitales, cada usuario debe aportar al menos tres libros personales a nuestra biblioteca compartida.
        </p>

        <p>
        Estos libros pueden ser ejemplares físicos en buen estado o eBooks en formato digital. Una vez realizado este aporte, el usuario podrá solicitar préstamos de otros títulos disponibles, fomentando así un <span>intercambio justo y enriquecedor</span> para toda la comunidad.
        </p>

        <p><span>¡Compartir es crecer!</span></p>
    </div>
    <div class="texto-imagen">
        <img src="../../assets/dibujo.png" alt="dibujo">

        <p>
        Si estás de acuerdo y deseas aportar tus libros, podés hacerlo desde el siguiente botón:
        </p>

        <a href="/cargar" data-link class="submit-button">Aportar libros</a>
    </div>
  </div>
</section>
