
<div id="div-formulario">

    <form id="login-formulario">

        <img id="logoLogin" src="/assents/Imagen1.png" alt="logoLogin">

        <input type="email" id="email" name="email"  placeholder="Email" required />

        <input type="password" id="password" name="password" placeholder="Password" required />

        <button id="btn-formulario" type="submit">Acceder</button>

        <p id="login-msg"></p>

    <p>¿No tienes cuenta? <a href="/register" data-link>Register Here</a></p>


    </form>
</div>
