<div class="login-wrapper" >
    <div class="form-container">
        <form class="login-form" id="registerForm">
            <img src="../../assets/LogoRiwi.webp" alt="logo riwi">
            <input type="text" name="name" placeholder="Nombre" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="text" name="phone" placeholder="Telefono" required>
            <button class="submit-button" type="submit">Registrarse</button>
            <p>Ya tienes una cuenta? <a href="/login" data-link="">Entra Aqui!</a></p>
        </form>
    </div>    
</div>   