@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/UbuntuSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/UbuntuSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
  background-color: var(--white); 
}

.hero {
  background-image: url('./assets/biblio.webp');
  background-size: cover;
  background-repeat: no-repeat;       
  background-position: center center; 
  background-attachment: fixed;
  height: 100vh;
}

h2 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #fff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #171E4A;
    --secondary: #6B5CFF;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --foooter: #2D2D2D;
    --input-border: #d5d5d5
}


.header-spa {
    color: var(--light);
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    flex-wrap: nowrap;
    background-color: var(--primary);
    width: 100%;
    align-items: center;
    gap: 1rem;
    border-bottom: solid 0.5px var(--light);
}


img {
    width: 100px;
    margin: 0 0 0 2rem;
}

.navBar{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
}

.enlacesNav {
    display: flex;
    height: 100%;
    align-items: center;
}

.enlacesNav a {
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    padding:  1.3rem;
}

.enlacesNav a:hover {
  background-color: var(--secondary);
}


.header-button {
    height: 100%;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    padding:  1.3rem;
    background-color: inherit;
    border: none; 
    color: white;
}

.header-button:hover {
  background-color: var(--secondary);
}

.enlacesNav span {
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    padding:  1.3rem;
}


span {
    font-weight: bold;
}

#dinamic-content {
    flex: 1;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--foooter);
    gap: 1rem;
    padding: 0 2.5rem;
    color: var(--light);
}

.form-riwi {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-radius: 4px;
}

.submit-button {
  background-color: var(--primary);
  color: white;
  transition: 0.3s;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
}

.submit-button:hover {
  background-color: var(--secondary);
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;  
  left: 0;
  background-color: var(--primary);
  min-width: 160px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 0;
  margin-top: 5px;
  z-index: 1000;
}
.dropdown-menu li {
  list-style: none;
}

.dropdown-menu.show {
  display: block;
}

.loggin-wrapper { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 496px;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  margin: 8rem 0 6rem 0;
  border-radius: 0.6rem;
  color: black;
  padding: 2rem 0;
}

.login-form img {
  padding: 0;
  margin: 0;
  width: 100%;
}

.login-form input {
  padding: 0.9rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  width: 80%;
  border: 0.5px solid var(--input-border);
}

.funciona-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.funciona-section h2 {
  font-size: 2rem;
  color: var(--secondary);
}

.funciona-container {
  margin: 2rem 0;
  display: flex;
  width: 80%;
  font-size: 1.5rem;
  gap: 4rem;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.texto-imagen {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.texto-imagen p {
  width: 80%;
}

.texto-imagen a {
  width: 25%;
  text-align: center;
  font-size: 1.2rem;
}

.funciona-container img {
  margin: 0;
  max-height: 500px;
  width: auto;
}

.catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.catalogo h2 {
  padding-bottom: 2rem;
}


.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.book-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 220px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card:hover {
  transform: scale(1.03);
}

.book-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 3 / 4;
  margin: 0;
}

.book-card h3 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  color: #333;
}

.book-card p {
  font-size: 0.9rem;
  color: #555;
  margin: 0.2rem 0;
  padding: 0 0.5rem 0.5rem;
}

.footer-item {
    padding: 2rem 1rem 2rem 1rem;
}

.footer-item iframe {
  width: 100%;
  height: 200px;
  border: none;
  margin: 0.5rem 0; 
  border-radius: 8px;
  
}

.footer-item1 p {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 400;
}

.footer-item1 img {
  width: 12rem;
  height: auto;
  padding: 1rem 0;
}

.footer-container h2 {
    font-size: 2rem;
    color: var(--secondary);
    margin: 0 0 1rem 0; 
}

.fa-brands {
  font-size: 3.5rem;
  margin-right: 1rem;
  transition: transform 0.3s;
  
}
.div-redes {
  display: flex;
  justify-content: center;
}

.fa-brands:hover {
  transform: scale(1.2);
  color: var(--orange);
}

.fa-square-facebook {
  color: #3598DC;
}

.fa-square-instagram {
  color: #f131b8;
}

.fa-linkedin {
color: #0A66C2;
}
